#about,
#about-addon {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

#about img,
#about-addon img {
  width: 150px;
  height: 150px;
}

#about > div,
#about-addon > div {
  width: 300px;
  height: 450px;
  padding: 20px;
  border: 1px solid #000;
  border-radius: 10px;
  background-image: linear-gradient(to top, #dfe9f3 0%, white 100%);
  backdrop-filter: blur(35px);
  box-shadow: 0 0 200px rgb(247, 245, 245);
  transition: all 0.5s ease-in-out;
}

.education,
.femaleEmployment {
  margin-top: 0px;
}

.employment {
  margin-top: 200px;
}

.export {
  margin: 200px 0 100px 0;
}

#about > div:hover,
#about-addon > div:hover {
  cursor: pointer;
  transform: scale(0.95);
}

/* Responsivity */

@media (width = 2560px) {
  #about > div,
  #about-addon > div {
    width: 600px;
    height: 600px;
    padding: 20px;
  }

  #about h1,
  #about-addon h1 {
    font-size: 32px;
  }

  #about p,
  #about-addon p {
    font-size: 32px;
  }
}

@media (width <= 426px) {
  #about,
  #about-addon {
    margin-top: 100px;
  }
}
